<main class="container d-flex flex-column justify-content-center align-items-center">
  <h1 class="my-5">Play Tic Tac Toe</h1>
    <form action ="/games" method="post">
      <input type ="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <input type="submit" value="New game" class="btn btn-danger">
    </form>
</main>